#modal_md {
    /*font-size: 2em;*/
}

pre, code {
    white-space: pre-wrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 1em;*/
}
img.logo {
     width:80px; 
     max-height:200px; 
     max-width:200px;
     margin-left: -10px;
}
label, .label {
    text-decoration: underline;
    margin: 5px 0 0 0;
}
.pre {
    white-space: pre-line;
    /*font-family: Consolas, monospace, sans-serif, serif;*/
    /*padding: 5px;
    margin: 0 0 15px 0;*/
    /*font-style: italic;*/
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}
.uk-badge {
    text-transform: uppercase;
}
p {
    margin: 5px 0;
}
