.modal-mdreader label {
    text-decoration: underline;
}

.modal-mdreader pre label {
    width: 100px;
    text-decoration: underline;
}
.modal-mdreader pre, .modal-mdreader code {
    white-space: pre-wrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}
.modal-mdreader code {
    border: 0px;
    background-color: transparent;
    color: black;
    font-style: italic;
    font-size: 1em;
}
.modal-mdreader img.logo {
     width:80px; 
     max-height:200px; 
     max-width:200px;
     margin-left: -10px;
}
.modal-mdreader h3 {
    font-weight: bold;
}
.modal-mdreader .panel-body {
  margin: 0;
}
.modal-mdreader #spatial-representation-type-label {
    top: 10px;
    right: 25px;
    position: absolute;
    /*font-size: 0.9em;*/
}
.modal-mdreader .img-thumbnail {  
    margin-bottom: 1.5em;
    //width:100%;
}

.modal-mdreader .btn {
    margin-bottom: 0.3em;
}
#keywords .label{
   display:inline-block;
   margin-bottom: 0.3em;
   padding: 0.3em;
}

@media print {
    html {
        max-height: 297.01 mm;
        max-width: 209.97 mm;
        margin: .8cm 0 2cm 0;
    }
    #menu {
        display:none;
    }
    #page {
        width: 100%;
    }
    div.uk-grid {
        display: block;
    }
    div.section {
         page-break-inside: avoid;
    }
}

