    <!-- tpl-grid -->
    <div style="min-height:350px" class="md_grid_item col-lg-2 col-md-3 col-sm-6 col-xs-12 clearfix" ng-repeat="md in data.md track by $index">
            <a ng-if="md.MD_URL != ''" href="" style="color:#444; font-size:1.1em; height:5.7em; display:block;" data-toggle="tooltip" data-placement="bottom" data-html="true" ng-click="modalMdReader(md.MD_URL)"
            title="
            <div style='text-align:left;'>
                <div><strong>Résumé:</strong> {{md.Data_shortAbstract}}</div>
                <div>
                    <strong>Mot-clés:</strong>
                        <span>{{md.Data_listKeywords}}</span>
                        <span>{{md.Data_listTopicCategories}}</span>
                </div>
            </div>
            ">
                <span class=""><strong>{{md.Data_shortTitle}}</strong></span>
            </a>            
            <div class="thumbnail">
                <a ng-if="md.mdReader_url != ''" href="{{md.Data_BrowseGraphics.Data_BrowseGraphic_Name}}" target="_blank">
                    <div class="image" style="height:200px;">
                        <img class="img-rounded img-responsive" ng-src="{{md.Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="" style="" />
                    </div>    
                    <div class="labels caption pull-right">
                        <span title="Données disponibles via un flux WMS" class="label label-success pull-right" ng-if="md.Data_OD != ''">Open data</span>
                        <span title="Données disponibles via un flux WFS" class="label label-warning pull-right" ng-if="md.Data_WFS != ''">WFS</span>
                        <span title="Données disponibles via un flux WMS" class="label label-primary pull-right" ng-if="md.Data_WMS != ''">WMS</span>
                    </div>
                </a>
            </div>
    </div>

