<script id="tpl_content" type="text/html">

    <div id="header">
        <h1 class="uk-h5 uk-width-1-1 uk-margin-small-top uk-margin-small-left">
            <span class="uk-icon-globe"></span>
            {{app.title}}
            <span class="uk-align-right uk-hidden-small uk-margin-right"><small>{{app.name}} {{app.version}} - (c) Guillaume Ryckelynck / CIGAL 2015</small></span>
        </h1>

        <nav class="uk-navbar uk-margin-small-bottom">
            <!-- Doublonnement de formulaire de recherche en fonction de la taille -->
            <!--medium-->
            <div class="uk-navbar-content uk-margin-remove uk-width-medium-8-10 uk-hidden-small">
                <form class="uk-form uk-margin-remove uk-display-inline-block uk-width-medium-7-10">
                    <input id="" type="text" placeholder="Texte à rechercher... (utilisez '+' comme opérateur 'ET')" value="{{txt_search}}" class="txt_search uk-width-medium-8-10"></input>
                    <button class="bt_onSearch uk-button uk-button-primary uk-button-small uk-width-medium-1-10 uk-margin-remove">
                        Submit
                    </button>
                </form>
            </div>
            <!--small-->
            <div class="uk-navbar-content uk-margin-remove uk-visible-small">
                <form class="uk-form uk-margin-remove uk-display-inline-block">
                    <input id="" type="text" placeholder="Search" value="{{txt_search}}" class="txt_search"></input>
                    <button class="bt_onSearch uk-button uk-button-primary uk-button-small uk-margin-remove">
                        Submit
                    </button>
                </form>
            </div>
            <div id="navbar_buttons" class="uk-navbar-flip">                    
                <ul class="uk-navbar-nav">
                    <li><a id="bt_listView" href="gridView" class="bt_onChangeView uk-hidden"><span class="uk-icon-th"></span></a></li>
                    <li><a id="bt_gridView" href="listView" class="bt_onChangeView uk-hidden-small"><span class="uk-icon-th-list"></span></a></li>
                <!--</ul>
                <ul class="uk-navbar-nav">-->
                    <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
                        <a><i class="uk-icon-globe"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                            <ul class="uk-nav uk-nav-navbar">
                                {{#csw_list.csw}}
                                <li>
                                    <a href="{{url}}" class="bt_onChangeCSW">
                                        <strong>{{title}}</strong><br />
                                        <span class="uk-hidden-small">{{description}}</span>
                                    </a>
                                </li>
                                {{/csw_list.csw}}
                                <li class="uk-margin-left uk-margin-small-top">
                                    <form id="form_cswurl" class="uk-form">
                                        <input id="txt_cswurl" type="text" placeholder="http://..." class="uk-width-9-10" value="{{csw_url}}" />
                                        <button class="uk-button bt_onGetCSW" href="#" >
                                            <i class="uk-icon-globe"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="uk-width-1-1">
        <ul id="switcher-content" class="">
            <li id="md_grid" class="switchView uk-grid uk-hidden-small uk-margin-top-remove" _data-uk-grid-margin data-uk-grid-match="{row: false}"></li>    
            <li id="md_list" class="switchView uk-visible-small uk-margin-large-top"></li>
        </ul>
        <div id="more" class="uk-width-1-1 uk-margin">
            <div class="uk-width-medium-1-5 uk-container-center">
                <a class="bt_nextPage uk-badge">
                    Voir plus de fiches
                </a>
                <div class="loading uk-badge uk-badge-warning">
                    <span class="uk-icon-spinner uk-icon-spin"></span> Chargement...
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="">
        <nav id="nav_footer" class="uk-navbar uk-margin-small-top uk-width-1-1">
            <!--
            <ul class="uk-navbar-nav uk-width-4-6">
                <li class="uk-parent">
                    <a class="">
                    </a>
                </li>
            </ul>
            -->
            <div class="uk-navbar-content uk-margin-remove">
                <!--<span class="uk-icon-globe"></span>-->
                <!--{{app.title}}-->
                <!-- - {{app.name}} {{app.version}} - (c) Guillaume Ryckelynck / CIGAL 2014</span>-->
                <span class="uk-hidden-small">CSW: <a id="csw_url" href="{{csw_url_complete}}" target="_blank">{{csw_url}}</a></span>
            </div>
            <div class="uk-navbar-flip uk-width-2-6">
                <div class="uk-align-right uk-navbar-content uk-margin-remove uk-hidden-small"><span id="nb_records_visible">nb_records_visible</span> fiches visibles sur <span id="nb_records_matched">nb_records_matched</span></div>
                <div class="uk-align-right uk-navbar-content uk-margin-remove uk-visible-small"><span id="nb_records_visible">nb_records_visible</span>/<span id="nb_records_matched">nb_records_matched</span></div>
            </div> 
        </nav>
    </div>
    
    <div id="modal_md" class="uk-modal ">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>
            <div id="modal_mdcontent"></div>
        </div>
    </div>

</script>
