<script id="tpl_content" type="text/html">
<span></span>


    <div id="header" class="navbar navbar-default navbar-fixed-top">
        <h1 class="">
            <span class="glyphicon glyphicon-globe"></span>
            {{app.title}}
            <span class="pull-right hidden-xs"><small>{{app.name}} {{app.version}} - (c) Guillaume Ryckelynck / CIGAL 2015</small></span>
        </h1>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="col-md-8 col-sm-10 col-xs-11">
                    <div id="navbar-search" class="nav navbar-nav navbar-left">
                        <form class="navbar-form" role="search">
                            <div class="input-group" style="">
                                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="bt_listView" href="gridView" class="bt_onChangeView hidden-md"><span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a id="bt_gridView" href="listView" class="bt_onChangeView hidden-xs"><span class="glyphicon glyphicon-th-list"></span></a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-globe"></span></a>
                          <ul class="dropdown-menu">
                            {{#csw_list.csw}}
                            <li>
                                <a href="{{url}}" class="bt_onChangeCSW">
                                    <strong>{{title}}</strong><br />
                                    <span class="uk-hidden-small">{{description}}</span>
                                </a>
                            </li>
                            {{/csw_list.csw}}
                            <li role="separator" class="divider"></li>
                            <li class="col-md-12">
                                <form id="form_cswurl" class="navbar-form" role="search">
                                    <div class="input-group" style="">
                                        <input type="text" class="form-control" placeholder="http://..." name="txt_cswurl" id="txt_cswurl">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-globe"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                          </ul>
                        </li>
                      </ul>
            </div>
        </nav>
    </div>
    
    <div class="">
        <div id="switcher-content" class="">
            <div id="md_grid" class="switchView container-fluid">
				<div id="more" class="">
				    <div class="row">
				        <a class="bt_nextPage label label-primary">
				            Voir plus de fiches
				        </a>
				        <div class="loading label label-primary">
				            <span class="glyphicon glyphicon-refresh"></span> Chargement...
				        </div>
				    </div>
				</div>
			</div>    
            <div id="md_list" class="switchView visible-xs-block container-fluid"></div>
        
		    <div id="more" class="">
		        <div class="">
		            <a class="bt_nextPage label label-primary">
		                Voir plus de fiches
		            </a>
		            <div class="loading label label-primary">
		                <span class="glyphicon glyphicon-refresh"></span> Chargement...
		            </div>
		        </div>
		    </div>
		</div>
    </div>
    
    <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
        <nav id="nav-footer" class="container-fluid">
            <div class="nav navbar-nav navbar-left navbar-text">
                <!--<span class="uk-icon-globe"></span>-->
                <!--{{app.title}}-->
                <!-- - {{app.name}} {{app.version}} - (c) Guillaume Ryckelynck / CIGAL 2014</span>-->
                <span class="hidden-xs">CSW: <a id="csw_url" href="{{csw_url_complete}}" target="_blank">{{csw_url}}</a></span>
            </div>
            <div class="nav navbar-nav navbar-right">
                <div class="navbar-text hidden-xs"><span id="nb_records_visible">nb_records_visible</span> fiches visibles sur <span id="nb_records_matched">nb_records_matched</span></div>
                <div class="navbar-text visible-xs-block"><span id="nb_records_visible">nb_records_visible</span>/<span id="nb_records_matched">nb_records_matched</span></div>
            </div> 
        </nav>
    </div>
    
    <div id="modal_md" class="uk-modal ">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>
            <div id="modal_mdcontent"></div>
        </div>
    </div>

</script>
