<script id="tpl_gridPage" type="text/html">
    {{#md}}
    <div style="" class="md_grid_item col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <a
            {{#MD_URL}}
                href="{{MD_URL}}" class="bt_onViewMd" target="_blank"
            {{/MD_URL}}
            style="color:#444; font-size:1.1em; height:6.2em; display:block;" data-toggle="tooltip" data-placement="bottom" data-html="true" data-toggle="modal" data-target="#modal_md"
            title="
            <div style='text-align:left;'>
                <div><strong>Résumé:</strong> {{Data_Abstract}}</div>
                <div>
                    <strong>Mot-clés:</strong>
                    {{#Data_Keywords}}
                        {{Data_Keyword}},
                    {{/Data_Keywords}}
                    {{#Data_TopicCategories}}
                        {{Data_TopicCategory}},
                    {{/Data_TopicCategories}}
                </div>
            </div>
            ">
                <span class=""><strong>{{Data_Title}}</strong></span>
            </a>            
            <div class="thumbnail">
                <a
                    {{#mdReader_url}}
                        href="{{mdReader_url}}?url={{csw_url}}&id={{MD_FileName}}" class="bt_onViewMd" target="_blank"
                    {{/mdReader_url}}>
                    
                    <div class="image">
                        <img class="img-rounded img-responsive" src="{{Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="" style="height: ;" />
                    </div>    
                    <div class="labels caption pull-right">
                        {{#Data_OD}}<span title="Données disponibles via un flux WMS" class="label label-success pull-right">Open data</span>{{/Data_OD}}
                        {{#Data_WFS}}<span title="Données disponibles via un flux WFS" class="label label-warning pull-right">WFS</span>{{/Data_WFS}}
                        {{#Data_WMS}}<span title="Données disponibles via un flux WMS" class="label label-primary pull-right">WMS</span>{{/Data_WMS}}
                    </div>
                </a>
            </div>
    </div>
    {{/md}}
</script>
