<script id="tpl_gridPage" type="text/html">
    {{#md}}
    <div style="" class="md_grid_item uk-grid-margin">
        <a
        {{#MD_URL}}
            href="{{MD_URL}}" class="bt_onViewMd" target="_blank"
        {{/MD_URL}}
        style="color:#444; font-size:1.1em; height:6.2em; display:block;" data-uk-tooltip="{pos:'bottom'}"
        title="
        <div style='text-align:left;'>
            <div><strong>Résumé:</strong> {{Data_Abstract}}</div>
            <div>
                <strong>Mot-clés:</strong>
                {{#Data_Keywords}}
                    {{Data_Keyword}},
                {{/Data_Keywords}}
                {{#Data_TopicCategories}}
                    {{Data_TopicCategory}},
                {{/Data_TopicCategories}}
            </div>
        </div>
        ">
            <span class="uk-text-bold">{{Data_Title}}</span> 
            <!--{{#Data_WMS}}<span title="Données disponibles via un flux WMS" class="uk-badge">WMS</span>{{/Data_WMS}}
            {{#Data_WFS}}<span title="Données disponibles via un flux WFS" class="uk-badge uk-badge-warning">WFS</span>{{/Data_WFS}}-->
        </a>
        <!--
        <div>
            {{#Data_WMS}}<span title="Données disponibles via un flux WMS" class="uk-badge">WMS</span>{{/Data_WMS}}
            {{#Data_WFS}}<span title="Données disponibles via un flux WFS" class="uk-badge uk-badge-warning">WFS</span>{{/Data_WFS}}
        </div>
        -->
        <div class="uk-thumbnail uk-thumbnail-medium">
            <a
                {{#mdReader_url}}
                    href="{{mdReader_url}}?url={{csw_url}}&id={{MD_FileName}}" class="bt_onViewMd" target="_blank"
                {{/mdReader_url}}>
                <img class="" src="{{Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="" style="height:210px; display: block; margin-left: auto; margin-right: auto" />
                <div class="uk-thumbnail-caption">
                    {{#Data_WMS}}<span title="Données disponibles via un flux WMS" class="uk-badge uk-align-right uk-margin-bottom-remove">WMS</span>{{/Data_WMS}}
                    {{#Data_WFS}}<span title="Données disponibles via un flux WFS" class="uk-badge uk-badge-warning  uk-align-right uk-margin-bottom-remove">WFS</span>{{/Data_WFS}}
                    {{#Data_OD}}<span title="Données disponibles via un flux WMS" class="uk-badge uk-badge-success uk-align-right uk-margin-bottom-remove">Open data</span>{{/Data_OD}}
                </div>
            </a>
        </div>

    </div>
    {{/md}}
</script>
