<script id="tpl_listPage" type="text/html">
    {{#md}}
    <!-- medium -->
    <div class="row md_list_item">
        <div class="thumbnail col-lg-1 col-md-2 col-sm-3 col-xs-4">
            <!--<img width="220" height="" src="{{Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="">-->
            <img class="img-rounded img-responsive" height="" src="{{Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="">
        </div>
        <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
            <h4 class="">
                <strong>
                    <a 
                    {{#MD_URL}}
                        href="{{MD_URL}}" class="bt_onViewMd" target="_blank"
                    {{/MD_URL}}>{{Data_Title}}</a>
                </strong>
            </h4>
            <p>{{Data_Abstract}}</p>
            <div class="labels" style="">
                    {{#Data_TopicCategories}}
                        <div class="label label-warning">{{Data_TopicCategory}}</div>
                    {{/Data_TopicCategories}}
                    {{#Data_Keywords}}
                        <div class="label label-info">{{Data_Keyword}}</div>
                    {{/Data_Keywords}}
                    <!--<br />-->
            </div>
            <div class="labels pull-right">
                {{#Data_WMS}}<span title="Données disponibles via un flux WMS" class="label label-primary">WMS</span>{{/Data_WMS}}
                {{#Data_WFS}}<span title="Données disponibles via un flux WFS" class="label label-warning">WFS</span>{{/Data_WFS}}
                {{#Data_OD}}<span title="Données disponibles via un flux WMS" class="label label-success">Open data</span>{{/Data_OD}}
            </div>
        </div>
    </div>
    <!-- small -->
    <div class="visible-xs-block hidden-xs">
        <div class="uk-width-small-1-1 uk-margin-large-bottom">
            <h2 class="uk-h4" style="text-align: center;">
                <strong>
                    <a 
                    {{#MD_URL}}
                        href="{{MD_URL}}" class="bt_onViewMd" target="_blank"
                    {{/MD_URL}}>{{Data_Title}}</a>
                </strong>
            </h2>
            <div class="uk-width-small-1-1 uk-thumbnail uk-thumbnail-small uk-margin-small" style="display: block; margin-left: auto; margin-right: auto">
                <img width="" height="" src="{{Data_BrowseGraphics.Data_BrowseGraphic_Name}}" alt="" />
            </div>
            <p>{{Data_Abstract}}</p>
            <div style="height:2em;">
                    {{#Data_TopicCategories}}
                        <div class="uk-badge uk-badge-warning">{{Data_TopicCategory}}</div>
                    {{/Data_TopicCategories}}
                    {{#Data_Keywords}}
                        <div class="uk-badge">{{Data_Keyword}}</div>
                    {{/Data_Keywords}}
            </div>
        </div>
    </div>
    <hr class="divider">
    {{/md}}

</script>
